<div class="w-full">
  <%= for feed <- @feeds do %>
    <div class="flex">
    <h1 class="text-bold">
      <%= live_patch to: Routes.orb_show_path(@socket, :show, feed.id) do %>
        <%= feed.title %>
      <% end %>
    </h1>
      <div class="flex">
        <%= feed.payload.info %>
      </div>
    </div>
  <% end %>
</div>
