<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<%= csrf_meta_tag() %>
<%= live_title_tag assigns[:page_title] || "Scratchbac", suffix: " · Phosphorus" %>
<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
<script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    </head>
    <body>
    <header>
    <section class="container">
    <nav>
    <ul>
    <li><a href="https://www.scratchbac.com">Get Started</a></li>
    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                                            <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
                                            <% end %>
    <%= if Plug.Conn.get_session(@conn, "current_user") do %>
                                     <li><%= link "Logout", to: Routes.auth_path(@conn, :delete), method: "delete", class: "button" %></li>
                                     <% else %>
                     <li><%= link "Sign Up", to: Routes.sign_up_index_path(@conn, :index), class: "button" %></li>
                     <% end %>
    </ul>
    </nav>
    <a href="./orb" class="phx-logo">
    <img src={Routes.static_path(@conn, "/images/socrates.png")} alt="Scratchbac Phos"/>
    </a>
    <a href={Routes.auth_path(@conn, :request, "google")}>
    </a>
    </section>
    </header>
    <%= @inner_content %>
    </body>
    </html>
