<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
      <.live_title suffix=" · Phosphorus">
      <%= assigns[:page_title] || "Scratchbac" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"}/>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>
  <body class="max-w-screen-xl m-auto w-full">
    <header class="w-full flex justify-between px-6 flex-row-reverse items-center mt-2">
      <nav>
        <ul>
          <li><.link href="https://www.scratchbac.com">Get Started</.link></li>
          <li :if={Mix.env() == :dev}>
            <.link href={~p"/dashboard"}>LiveDashboard</.link>
          </li>
        </ul>
        <.user_menu current_user={@current_user} />
      </nav>
      <a href="/orb" class="phx-logo">
        <img src={~p"/images/socrates.png"} alt="Scratchbac Phos"/>
      </a>
    </header>
        <br>
    <%= @inner_content %>
  </body>
</html>

