<div>
Dashboard
</div>
<iframe src="https://scratchbac.grafana.net/d-solo/r-BZaDk4z/phos-promex-phoenix-dashboard-with-logs?orgId=1&refresh=5s&from=1659315860842&to=1659319460842&theme=light&panelId=39" width="450" height="200" frameborder="0"></iframe>


<!--   allow embeding in grafana only in self hosted -->
