<section class="mt-4 w-full flex justify-center">
  <div class="w-1/2 bg-gray-300 flex justify-center rounded py-4">
    <div>
      <h1><%= gettext "Welcome to %{name}!", name: "Scratchbac"%></h1>
      <h2>Awareness In Nearness </h2>
    </div>
  </div>
</section>
