<div>
  <%# <input type="text" value={"{#{@selectedloc.latitude}, #{@selectedloc.longitude}}"}/> %>

  <div id="setlocwrapper" phx-update="ignore">
    <div id="setlocmap"
        phx-hook="InitModalMap"
        style="height: 400px;"></div>
  </div>
  <button type="button" phx-click="save_loc" phx-target={@myself}
          phx-value-lat={@markerloc.latitude}
          phx-value-lng={@markerloc.longitude}>Confirm</button>
</div>
