<h1>Confirm account</h1>

<.simple_form let={_f} for={:user} action={~p"/users/confirm/#{@token}"}>
  <:actions>
    <.button type="submit">Confirm my account</.button>
  </:actions>
</.simple_form>

<p>
  <.link patch={~p"/users/register"}>Register</.link>
  <span> | </span>
  <.link patch={~p"/users/log_in"}>Log in</.link>
</p>
